#result table{
    border:1px solid black;
    margin:1px;
}
#result table thead{
    background-color: #090;
}
#result td{
    border:1px dotted appworkspace;
    border-color: appworkspace;
}

#result td tr{
    vertical-align:top;
}
